<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Launching the Gazebo world scene -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find crazyflie_gazebo)/worlds/crazyflie.world"/>
		<!-- more default parameters can be changed here -->
		<arg name="paused" value="true"/>
	</include>

	<!-- Starting up nodes that give the pace to the inner controllers -->
	<node name="node_100Hz" pkg="crazyCmd" type="node_100Hz.py" output="screen"/>
	<node name="node_500Hz" pkg="crazyCmd" type="node_500Hz.py" output="screen"/>

	<group ns = "cf1">
		<node pkg="crazyCmd" type="crazyflie_spawner_node.py" name="crazyflie_spawner_node" output="screen">
			<rosparam param="name">cf1</rosparam>
			<rosparam param="initial_position">[0.0, 0.0, 0.2]</rosparam>
		</node>
	</group>

	<group ns = "swarm">
		<node pkg="crazyCmd" type="pyramid_swarm_node.py" name="pyramid_swarm_node" output="screen">
			<rosparam param="cfs_number">1</rosparam>
			<rosparam param="levels">0</rosparam>
			<rosparam param="vertical_offset">0.5</rosparam>
		</node>
	</group>

</launch>